[data-class="ContactMessage"]:not(.dealt-with-message) {
  font-weight: bold;
}

[data-class="ContactMessage"].dealt-with-message:not(:hover) {
  background-color: #FBFBFC !important;
  color: #8A8A8A;
  font-style: italic;
}

[data-class="BookingDate"].past-class:not(:hover) {
  background-color: #FBFBFC !important;
  color: #8A8A8A;
  font-style: italic;
}
[data-class="BookingDate"].future-class:not(:hover) {
}
[data-class="BookingDate"].running-class:not(.draft):not(.canceled-class):not(:hover) {
  background: #f7fcef !important;
}
[data-class="BookingDate"].available-class:not(:hover) {
}
[data-class="BookingDate"].full-class:not(:hover) {
}
[data-class="BookingDate"].canceled-class:not(:hover) {
  text-decoration: line-through;
}

[data-class="Testimonial"].shown:not(:hover) {
  background: #f7fcef !important;
}
